.socialbtns {
    padding: 0 1rem;
    color: white;
    display: inline-flex;
    gap: 10px;
    align-items: center;
}
.socialbtns a {
    opacity: 0.8;
    transition: all .1s ease-in-out;
}
.socialbtns a:hover {
    opacity: 1;
    transform: scale(1.1);
}
.socialbtns a img {
    max-width: 30px;
}