.section {
    background: linear-gradient(180deg, #23272a, #2f3942);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* .colcontainer {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
} */
.colcontainer {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.col {
    max-width: 500px;
    margin: auto;
}

.col img {
    max-width: 400px;
    min-width: 200px;
    width: 100%;
    border-radius: 15px;
}

@media screen and (max-width: 600px) {
    .colcontainer {
        flex-wrap: wrap-reverse;
    }
    .col img {
        max-width: 300px;
    }
}


.col button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    background: #23272a;
    color: white;
    transition: all .2s ease-in-out;
}
.col button:hover {
    transform: scale(1.05);
    color: #F3D38C;
    font-weight: 600;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}