.section {
    background: linear-gradient(180deg, #2f3942, #23272a);
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.techstack {
    margin: 2rem 0;
}

.domain {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    align-items: baseline;
    gap: 2rem;
}

@media screen and (max-width: 550px) {
    .container {
        width: 95%;
    }
    .domain {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.8fr;
        text-align: center;
    }
    .tiles {
        justify-content: center;
    }
}

.tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 100px));
    gap: 0.5rem;
    text-align: center;
}

.tile {
    min-width: 80px;
    padding: 0.5rem;
    border-radius: 10px;
    background: #30393f;
    margin: auto;
}
.tile p {
    font-size: 0.9rem;
}
.tile img {
    max-width: 40px;
    border-radius: 5px;
    height: auto;
}