.section {
    background: linear-gradient(180deg, #23272a, #2f3942);
}

/* .container {
    max-width: 1200px;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
} */
.container {
    max-width: 1200px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
}
.col, .col2 {
    margin: auto;
    max-width: 500px;
}

@media screen and (max-width: 600px) {
    .container {
        flex-wrap: wrap-reverse;
    }
}

.col h1 {
    font-size: 3rem;
}
.col > * {
    margin: 1.5rem 0;
}

.col2 {
    text-align: center;
}
.col2 img {
    min-width: 200px;
    width: 80%;
}

.col button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #23272a;
    color: white;
    transition: all .2s ease-in-out;
}
.col button:hover {
    transform: scale(1.05);
    color: #F3D38C;
    font-weight: 600;
}
.col button img {
    width: 25px;
    margin-right: 5px;
}

.col div h1:nth-of-type(2) {
    color: #F3D38C;
}