.section {
    background: linear-gradient(180deg, #23272a, #2f3942);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.container2 {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    padding-bottom: 0;
}

.col {
    text-align: center;
}
.col:first-of-type {
    width: 50%;
}
.col img {
    transform: rotate(-20deg);
    width: 80%;
    margin-left: 2rem;
    margin-right: -2rem;
}

@media screen and (max-width: 700px) {
    .container {
        width: 95%;
    }
    .container2 {
        flex-wrap: wrap-reverse;
        padding: 1rem;
    }
    .col:nth-of-type(2) {
        display: none;
    }
    .col:first-of-type {
        width: 100%;
    }
}