* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  color: white;
  background: linear-gradient(180deg, #23272a, #2f3942);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Work Sans', sans-serif;
}

.main {
  min-height: calc(100vh - 80px);
  width: 90%;
  margin: auto;
}