.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #23272a;
}

.link_container {
    display: flex;
}

.link {
    padding: 1rem 1.5rem;
    color: white;
    text-decoration: none;
}
.link:hover a {
    color: #F3D38C;
    font-weight: 600;
}