.header {
    background: #23272a;
}
.section {
    margin: auto;
    padding: 0 2rem;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link_container {
    display: flex;
    gap: 1rem 3rem;
}

.link {
    color: white;
    text-decoration: none;
}
.link:hover a {
    color: #F3D38C;
    font-weight: 600;
}